$font-family-sans-serif: 'Lato',system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Couleurs
$success: #1A4E24;
$warning: #FBBA00;
$body-color: #1A4E24;
$link-color: $success;

// Modification du border radius de tous les boutons bootstrap
$btn-border-radius: 2rem;
$btn-border-radius-sm: 2rem;
$btn-border-radius-lg: 2rem;

//input
.form-control {
    border: #1A4E24 1px solid !important;
}

// Typo
.title-lilita {
    font-family: 'Lilita One', sans-serif;
}

/* Enlève la bordure au clic */
.navbar-toggler:focus {
    box-shadow: none;
}
.accordion-button:focus {
    box-shadow: none;
}

footer .accordion {
    background-color: #000!important;
}

/* Navbar Style mobil */
#navbarNav ul {
    padding: 1rem 0;
}
#navbarNav li {
    border-bottom: 1px solid rgba(26, 78, 36, 0.2);
    font-size: 1.5rem;
    padding: 0.2rem 0;
    font-weight: 700;
}
#navbarNav li a {
    color: #1A4E24; /* A MODIFIER AVEC SCSS */
}
/* Navbar Style desktop */
@media all and (min-width: 992px) {
    #navbarNav ul {
        padding: 0;
    }
    #navbarNav li {
        border-bottom:none;
        font-size: 16px;
        padding: 0 0.2rem;
        font-weight: 700;
    }   
    #navbarNav li a:hover {
        color: rgba(26, 78, 36, 0.6); /* A MODIFIER AVEC SCSS */
    }
}

/* Card produit catalogue */
.img-cover-card-product {
    width: 100%;
    height: 150px;
}
@media all and (min-width: 992px) {
    .img-cover-card-product {
        height: 200px;
    }
}
@media all and (min-width: 1200px) {
    .img-cover-card-product {
        height: 250px;
    }
}
.glass-price {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border-top: none;
}

/* Footer */
.legal-foot {
    font-size: 0.8rem;
}

.login-page-cover {
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
}
.login-page-cover-img1 {
    background-image: url('../img/pomme-off.jpg');
}
.login-page-cover-img2 {
    background-image: url('../img/salade-off.jpg');
}






@import "../bootstrap/bootstrap.scss"

